<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <script src="/js/index.js" defer></script>
</head>
<body>
    <h2>Produtos</h2>
    <a href="/"><button>voltar</button></a>
    <form id="cadastrar-produto">
        <div>
            <label for="inNome">Nome:</label>
            <input type="text" id="inNome" required>
        </div>
        <div>
            <label for="inPreco">Preço:</label>
            <input type="number" id="inPreco" required>
        </div>
        <div>
            <label for="inQuantidade">Quantidade:</label>
            <input type="number" id="inQuantidade" required>
        </div>
        <div>
            <select name="inFornecedor" id="inFornecedor">
                <option value="">Selecione...</option>
                <% fornecedores.forEach(fornecedor => { %>
                    <option value="<%= fornecedor.Forn_id  %>"><%= fornecedor.Forn_nome %></option>
                <% }) %>
            </select>
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
    <div id="listaProdutos">
        <% if (!produtos.length) { %>
            <h2>Sem produtos cadastrados</h2> 
        <% } else { %>    
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Fornecedor</th>
                    </tr>
                </thead>
                <tbody>      
                    <% produtos.forEach(produto => { %>
                        <tr>
                            <td><%= produto.Prod_nome %></td>
                            <td><%= produto.Prod_preco %></td>
                            <td><%= produto.Prod_quantidade %></td>
                            <td><%= produto.Fornecedor.Forn_nome %></td>
                            <td><a href="/produto/editar/<%= produto.Prod_cod %>">Editar</a></td>
                            <td><a href="/produto/excluir/<%= produto.Prod_cod %>">X</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>
