<h2>Cadastrar Compra</h2>
<a href="/"><button class="main-btn">voltar</button></a>
<form id="cadastrar-compra">
    <div id="inProdutos">
        <div>
            <label for="inQuantidade">Quantidade:</label>
            <input type="number" name="inQuantidade" id="inQuantidade" class="quantidade">
        </div>
        <div>
            <label for="produtoIn">Produto:</label>
            <select name="inProduto" id="inProduto">
                <option value="">Selecione...</option>
                <% produtos.forEach(produto => { %>
                    <option value="<%= produto.Prod_cod  %>"><%= produto.Prod_nome %></option>
                <% }) %>
            </select>
        </div>
    </div>
    <div>
        <input type="submit" value="Cadastrar" class="main-btn">
    </div>
</form>
<% if (!compras.length) { %>
    <h2>Sem compras cadastradas</h2>
<% } else { %>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <% compras.forEach(compra => { %>
                <tr>
                    <td><%= compra.Compra_id %></td>
                    <td><%= compra.Produto.Prod_nome %></td>
                    <td><%= compra.Compra_quantidade %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>
<script src="/js/cadastroCompra.js"></script>
